#!/bin/bash

# go to aliases
alias dotfile='vim ~/.dotfiles/bash/.aliases'

# make aliases sudo-able
alias sudo="sudo "

# directory navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# some ls aliases
alias la="ls -A"
alias ll="ls -Al"

# git shortcuts
alias gs="git status"
alias gt="git stash"
alias gtp="git stash pop"
alias ga="git add"
alias gc="git commit"
alias gb="git branch"
alias gd="git diff"
alias gk="git checkout"
alias gp="git push"
alias gf="git fetch --all"
alias gr="git rebase"
alias gm="git merge"
alias gg="git log --graph --pretty=format:'%C(bold red)%h%Creset -%C(bold yellow)%d%Creset %s %C(bold green)(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --remotes=* --branches"
alias gcp="git cherry-pick"

# process finding
alias ff="pgrep -lf"

# tools
alias composer="php /usr/local/bin/composer.phar"
alias phpdoc="php /usr/local/bin/phpdoc.phar"
alias phpdebug="~/.composer/vendor/bin/dephpugger"

# k8s
alias k=kubectl
alias v="nvim ."

# unix shortcode
alias rm="rm -i"
alias rs="reset"

# google translate
alias tv="trans -t=vi"
alias vt="trans -f=vi -t=en"

# virtual box manager
alias vm="VBoxManage"

# open sublime text
alias subl="open -a Sublime\ Text"

# run medis
alias medis="cd /Users/tuevo/Projects/tools/medis && npm run electron electron"
alias phpstan='docker run -v $PWD:/app --rm phpstan/phpstan'

# Kubectl
alias ks='kubectl config set-context --current --namespace $1'
alias kk='kubectl config use-context $1'
